*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{
    width: 75vw;
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
}
img{
      width: 100%;
      border-radius: 15px;
      box-shadow: 0px 2px 5px rgba(12, 12, 12, .5);
}

    h1{
    
        font-family: cursive;
        text-align: center;
     
    }

body{
   background-color: rgb(37, 35, 173);
}